/* General Universal */
.grid{
    display:grid;
    border: 1px solid grey;
}

/* General First Layer */
body{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    padding:1em;
    grid-template-areas: 
    "aside header"
    "aside main";
}
#aside{
    grid-area: aside;
}
#header{
    grid-area:  header;
}
#main{
    grid-area: main;
}

/* General Second Layer */

/* aside */
#aside{
    padding:1em;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "brand"
    "nav"
    ".";
}
aside > .branding{
    grid-area: brand;
}

aside > nav{
    grid-area: nav;
}

/* header */
#header{
    padding:1em;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "top-header"
    "bottom-header";
}
.top-header{
    grid-area: top-header;
}
.bottom-header{
    grid-area: bottom-header;
}

/* main */
#main{
    padding:1em;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects ann"
    "projects trending";
}
#main > .projects{
    grid-area:projects;
}
#main > .announcements{
    grid-area:ann;
}
#main > .trending{
    grid-area:trending;
}

/* Settings by Sections */

/* Aside */

/* Header */

/* Main */