/* General Universal */
.grid{
    display:grid;
    border: 1px solid grey;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
svg{
    fill:#d0a823;
}

/* General First Layer */
body{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    padding:1em;
    grid-template-areas: 
    "aside header"
    "aside main";
    font-family: "pt sans caption", sans-serif;
}
#aside{
    grid-area: aside;
    background-color: #feed9f;
}
#header{
    grid-area:  header;
}
#main{
    grid-area: main;
}

/* General Second Layer */

/* aside */
#aside{
    padding:1em;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "brand"
    "nav"
    ".";
}
aside > .branding{
    grid-area: brand;
}

aside > nav{
    grid-area: nav;
}

/* header */
#header{
    padding:1em;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "top-header"
    "bottom-header";
}
.top-header{
    grid-area: top-header;
}
.bottom-header{
    grid-area: bottom-header;
}

/* main */
#main{
    padding:1em;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects ann"
    "projects trending";
}
#main > .projects{
    grid-area:projects;
}
#main > .announcements{
    grid-area:ann;
}
#main > .trending{
    grid-area:trending;
}

/* Settings by Sections */

/* Aside */
.branding.grid{
    grid-template-columns: 4vw auto;
    gap: 1vw;
    align-items: center;
    color:#504c41;
}
.branding.grid > svg{
    width: clamp(2.2vw,4vw,4vw);
    justify-self: center;
}
.branding.grid > h1{
    font-size: clamp(1em, 2vw, 2em);
}

ul.grid{
    gap:1vh;
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas: 
    "."
    "home"
    "profile"
    "messages"
    "history"
    "tasks"
    "communities"
    "."
    "settings"
    "support"
    "privacy";
}
#home{
    grid-area: home;
}
#profile{
    grid-area: profile;
}
#messages{
    grid-area: messages;
}
#history{
    grid-area: history;
}
#tasks{
    grid-area: tasks;
}
#communities{
    grid-area: communities;
}
#settings{
    grid-area: settings;
}
#support{
    grid-area: support;
}
#privacy{
    grid-area: privacy;
}
li a.grid{
    grid-template-columns: 4vw auto;
    gap:1vw;
    align-items: center;
    text-decoration: none;
    color:#504c41;
    font-size: clamp(1em, 1.5vw, 1.5em);
    font-weight: bold;
}

li a.grid > svg{
    width: clamp(2vw, 3vw ,3vw);
    justify-self: center;
}

li a.grid span{
    padding-right:1em;
}
/* Header */

/* Main */